$breakpoint-sm:480px;
$breakpoint-md:768px;
$breakpoint-lg:1024px;
$breakpoint-xl:1200px;

@mixin smallDevice {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mediumDevice {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin largeDevice {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xlDevice {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}


body {
  height: 100vh;
  @include smallDevice {
    background-color:tomato;
  }
  @include mediumDevice {
    background-color:darkgoldenrod;
  }
  @include largeDevice {
    background-color:aquamarine;
  }
  @include xlDevice() {
    background-color:darkcyan;
  }
}