$breakpoint-sm:480px;
$breakpoint-md:768px;
$breakpoint-lg:1024px;
$breakpoint-xl:1200px;

@mixin contentBefore {
  display:block;
  font-size:100px;
  @content;
}

@mixin smallDevice {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mediumDevice {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin largeDevice {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xlDevice {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}


body {
  height: 100vh;
  @include xlDevice() {
    background-color:darkcyan;
    &::before {
      @include contentBefore {
        content:"width : 1200px 이하";
      }
    }
  }
  @include largeDevice {
    background-color:aquamarine;
    &::before {
      @include contentBefore {
        content:"width : 1024px 이하";
      } 
    }
  }
  @include mediumDevice {
    background-color:darkgoldenrod;
    &::before {
      @include contentBefore {
        content:"width : 768px 이하";
      }
    }
  }
  @include smallDevice {
    background-color:tomato;
    &::before {
      @include contentBefore {
        content:"width : 480px 이하";
      }
    }
  }
}